@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

/* migori-green: #218574 */

body {
  font-style: normal;
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0rem;
  color: #232323;
}

a {
  text-decoration: none !important;
}

/* Nährwerte und Allergene */
table.table {
  margin-bottom: 0;
}

table.table td {
  padding: 0.5rem 5px;
  vertical-align: bottom;
}

table.table tr td:first-child {
  max-width: 340px;
  vertical-align: top;
}
/* end - Nährwerte und Allergene */

/* static elements - footer, header, logo, ...  */
#migori-logo {
  max-height: 110px;
}

div.first {overflow: hidden; } /* remove horizontal scrolling bug */

footer {
  color: #747474;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer div.container div.row div {
  text-align: right;
}
footer div.container div.row div a {
  color: #218574;
}
/* end - static elements */




/* section - definition and helper */
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-white {
  background-color: #fff;
  color: #747474;
}

.section-dark {
  background-color: #c0d5da;
}

.section-grey {
  background-color: #f9f9f9;
  color: #747474;
}

section#section-4 {
  padding-bottom: 0;
}

#porridge-facts section#section-4,
#kidneybohnen-facts section#section-4 {
  padding-top: 0;
}

#section-0 .factsheet-headline {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.6;
  color: #218574;
  text-align: right;

  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

#section-0 .dropdown.more-factsheets {
  text-align: right;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: -15px;
}

#section-0 .dropdown.more-factsheets .btn-secondary {
  background-color: #747474;
  border-color: #747474;
  color: #fff;
}

.intro-text {
  font-size: 1.5rem;
}

.section-title {
  font-weight: bolder;
  text-transform: uppercase;
}

.section-title.recipe-title {
  color: #218574;
}

.table-title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  font-style: normal;
  text-align: left;

  padding-bottom: 15px;
}

/* for table-title and section-title */
.bar-below {
  padding-bottom: 10px;
  border-bottom: 5px solid #218574;
  margin-bottom: 20px;
}

.bar-above,
.bar-above {
  padding-top: 10px;
  border-top: 5px solid #218574;
  margin-top: 15px;
}

.table-title.center {
  text-align: center;
}
/* end */

tr.highlighted {
  background-color: #fef4e4;
}

.img-below-table {
  padding-top: 15px;
  padding-bottom: 15px;
}

#hartweizengriess-facts .img-below-table {
  max-width: 436px;
}

/* link to pdf of current fact sheet */
.factsheet-link {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: right;
  padding-top: 15px;
}

.factsheet-link .upper-bold {
  text-transform: uppercase;
  font-weight: 500;
}

.factsheet-link .migori-green a {
  color: #218574 !important;
  font-weight: 400;
}
/* end - fact sheet link */

.recipe-description span,
.recipe-ingredients li.highlight {
  font-weight: 500;
}

.recipe-ingredients {
  color: #218574;
}
.recipe-ingredients p {
  color: #232323;
  margin-top: 90px;
}

.recipe-source {
  position: relative;
}

.recipe-source a {
  text-decoration: none;
  color: #218574;
}

#schokomuesli-facts .img-recipe {
  max-width: 60%;
  float: right;
}

/* sources in images */
.source {
  position: absolute;
  bottom: 0;
  right: 30px;
  text-align: right;
  color: white;
  font-size: 0.75rem;
}

/* *** HELPER *** */
/* pxx-0 -> 0 == inherit */
.img-bubble {
  display: none;
}

.textbox-centered-p15-0 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.textbox-p30-0 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.textbox-centered-p30-0 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.distance-to-top-m30 {
  margin-top: 30px;
}

.distance-to-top-m15 {
  margin-top: 15px;
}

.distance-to-bottom-m14 {
  margin-bottom: 14px;
}

.remove-margin-bottom {
  margin-bottom: 0;
}


@media (min-width: 768px) {
  .bar-above.mh87-title {
    min-height: 87px;
  }

  .bar-above.mh68-title {
    min-height: 68px;
  }

  .factsheet-link .link-container {
    position: absolute;
    right: 15px;
    bottom: 16px;
  }

  #porridge-facts .factsheet-link,
  #kidneybohnen-facts .factsheet-link,
  #schokomuesli-facts .factsheet-link { margin-top: 32px; }

  #porridge-facts .factsheet-link .link-container,
  #kidneybohnen-facts .factsheet-link .link-container,
  #schokomuesli-facts .factsheet-link .link-container { bottom: 0; }

  .img-1 { margin-top: 60px; }

  .img-bubble {
    display: block;
    position: absolute;
    max-width: 23%;
    top: -11%;
    /* max-width: 140px; */
    /* top: -80px; */
    right: 20px;
  }

  #kidneybohnen-facts #section-2 .img-bubble {
    top: initial;
    bottom: 130px;
  }

  #kidneybohnen-facts #section-2 .img-1 {
    position: absolute;
    bottom: 23px;
  }
}

@media (min-width: 992px) {
  #kidneybohnen-facts #section-2 .img-bubble {
    top: initial;
    bottom: 160px;
  }
}

@media (min-width: 1200px) {
  .center-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-right: 30px;
  }

  #blaumohn-facts .recipe-source,
  #schokomuesli-facts .recipe-source {
    position: absolute;
    bottom: 0;
  }

  #kidneybohnen-facts #section-2 .img-bubble {
    top: initial;
    bottom: 190px;
  }
}


/* Font-size adjustment for smaller screens/ mobile devices */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .factsheet-headline {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }

  #denttabs-facts #section-0 .factsheet-headline {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .factsheet-link {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }

  #kidneybohnen-facts #section-2 .img-bubble {
    top: initial;
    bottom: 130px;
  }

  .img-recipe {
    padding-bottom: 15px;
    max-width: 60%;
  }

  .source {
    font-size: 0.5rem;
  }
}
